@model List<Produto>
@{
    ViewData["Title"] = "Gerir Produtos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerir Produtos</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />
</head>

<body>

    <h2>Gerir Produtos</h2>

    <a asp-action="CreateProduto" class="btn btn-primary mb-3">Adicionar Produto</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Descricao</th>
                <th>Preco</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.ProdutoID</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Marca</td>
                    <td>@produto.Modelo</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Preco€ </td>
                    <td>@produto.Stock</td>
                </tr>
            }
        </tbody>
    </table>
</body>
