@model List<User>
@{
    ViewData["Title"] = "Gerir Utilizadores";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerir Utilizadores</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <!-- Script -->
    <script src="site.js"></script>

</head>

<body>

    <h2>Gerir Utilizadores</h2>

    <a asp-action="CreateUser" class="btn btn-primary mb-3">Adicionar Utilzador</a>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Username</th>
                <th>Email</th>
                <th>DataNacimento</th>
                <th>Role ID</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserID</td>
                    <td>@user.Nome</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.DataNascimento</td>
                    <td>@user.RoleID</td>
                    
                </tr>
            }
        </tbody>
    </table>
</body>
