@model List<Produto>
@{
    ViewData["Title"] = "Gerir Produtos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerir Produtos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet"> <!-- icon conta -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet"> <!-- icon edit -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet"> <!-- icon remove -->

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <style>
        
    </style>
</head>

<body>
    <header class="header">
        <div class="header-left">Dashboard</div>
        <div class="header-right">
            <div class="account-dropdown">
                <a href="#" class="account-icon">
                    <i class="fas fa-user"></i> Conta
                </a>
                <div class="dropdown-content">
                    <a href="/Admin/Logout">Logout</a>
                </div>
            </div>
        </div>
    </header>

    <div class="dashboard-container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a asp-action="GerirProdutos">Gerir Produtos</a></li>
                    <li><a asp-action="GerirUsers">Gerir Utilizadores</a></li>
                    <li><a asp-action="Settings">Settings</a></li>
                </ul>
            </nav>
        </aside>

        <div class="main-content">
            <h2>Gerir Produtos</h2>

            <a asp-action="CreateProduto" class="btn btn-primary mb-3">Adicionar Produto</a>

            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Descricao</th>
                        <th>Preco</th>
                        <th>Stock</th>
                        <th>Imagem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produto in Model)
                    {
                        <tr>
                            <td>@produto.ProdutoID</td>
                            <td>@produto.Nome</td>
                            <td>@produto.Marca</td>
                            <td>@produto.Modelo</td>
                            <td>@produto.Descricao</td>
                            <td>@produto.Preco€ </td>
                            <td>@produto.Stock</td>
                            <td>
                              <img src="@produto.ImagemProduto" alt="Imagem do Produto" style="width: 100px; height: auto;" />
                            </td>
                            <td>
                                <!-- Form para Remover -->
                                <form asp-action="DeleteProduto" asp-route-id="@produto.ProdutoID" method="post">
                                    <button type="submit" class="btn btn-danger btn-sm-produto">Remover</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
