@{
	ViewData["Title"] = "Produto | ";
}
@model List<Produto>


<body>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Stock</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr id="user-row-@produto.ProdutoID">
                    <td><a asp-action="Produto" asp-route-id="@produto.ProdutoID"> @produto.ProdutoID</a></td>
                    <td>@produto.Nome</td>
                    <td>@produto.Marca</td>
                    <td>@produto.Modelo</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Preco€</td>
                    <td>@produto.Stock</td>
                    <td>
                        <a asp-action="Produto" asp-route-id="@produto.ProdutoID">
                            <img src="@produto.ImagemProduto" alt="Imagem do Produto" style="width: 100px; height: 100px;" />
                        </a>
                    </td>

                    <td>
                        <!-- Form para Adicionar -->
                        <form action="/Carrinho" method="post">
                            <input type="hidden" name="produtoId" value="@produto.ProdutoID"/>
                            <input type="number" name="quantidade" min="1" value="1" />
                            <button type="submit" class="btn btn-danger btn-sm">Adicionar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
