@{
	ViewData["Title"] = "Produto | ";
}
@model Produto
<body>
    <div class="address-card">
        <h3>Produto</h3>
        <p>Nome: @Model.Nome</p>
        <p>Marca: @Model.Marca</p>
		<p>Modelo: @Model.Modelo</p>
		<p>Descrição: @Model.Descricao</p>
		<p>Preço: @Model.Preco</p>
		<p>Stock: @Model.Stock</p>
		<p>
			<img src="@Model.ImagemProduto" alt="Imagem do Produto" style="width: 150px; height: auto;" />
		</p>
    </div>
</body>
