@{
    ViewData["Title"] = "Dados Pessoais | ";
}
@model User

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Pessoais</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <style>
        
    </style>
</head>

<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
        <br />
        <div class="title">As tuas informações pessoais</div>
        <div class="breadcrumb"> <a href="/Perfil">A tua conta</a> / Dados Pessoais</div>

    <!-- Formulário para atualizar os dados -->
    <form asp-action="UpdateDados" asp-route-id="@Model.UserID" method="post">
        @Html.AntiForgeryToken() <!-- Proteção contra CSRF -->
        <!-- Campo para Email -->
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" required />
        </div>

        <!-- Campo para Username -->
        <div class="form-group">
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" class="form-control" value="@Model.Username" required />
        </div>

        <!-- Campo para Nome -->
        <div class="form-group">
            <label for="Nome">Nome:</label>
            <input type="text" id="Nome" name="Nome" class="form-control" value="@Model.Nome" required />
        </div>

        <!-- Botão de submissão -->
        <button type="submit" class="btn btn-primary btn-sm-updatedados">Atualizar</button>
    </form>
    <br />

    <script>
        // Função para alternar visibilidade da senha
        function togglePassword(fieldId) {
            const field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
            } else {
                field.type = "password";
            }
        }
    </script>
</body>
    

