@{
    ViewData["Title"] = "Enderecos | ";
}
@model List<Enderecos>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enderecos</title>
    <link rel="script" href="site.js">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/lib/bootstrap_electro/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/lib/bootstrap_electro/css/style.css" />

    <style>
       

    </style>
</head>

<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <div class="container-m'">
        <div class="header-m">
            <h1>As tuas moradas</h1>
            <nav>
                <a href="/Perfil">A tua conta</a> / Endereços
            </nav>
        </div>

        @if (Model != null && Model.Any())
        {
            foreach (var enderecos in Model)
            {
                <div class="address-card">
                    <h3>O meu endereço</h3>
                    <p>Nome: @enderecos.Nome</p>
                    <p>Empresa: @enderecos.Empresa</p>
                    <p>NIF: @enderecos.NIF</p>
                    <p>Endereçco: @enderecos.EnderecoLinha1</p>
                    <p>CodigoPostal: @enderecos.CodigoPostal</p>
                    <p>Numero: @enderecos.Numero</p>
                    <p>Cidade: @enderecos.Cidade</p>
                    <p>Distrito: @enderecos.Distrito</p>
                    <p>Pais: @enderecos.Pais</p>
                    <p>Telemovel: @enderecos.Telemovel</p>
                    <p>Tipo:@enderecos.Tipo</p>

                    <div class="actions-m">
                        <form asp-action="UpdateMorada" asp-route-id="@enderecos.EnderecoID" method="post">
                            <button type="submit" class="btn btn-danger btn-sm-updatemorada">Atualizar</button>
                        </form>

                        <!-- Form para Remover -->
                        <form asp-action="DeleteMorada" asp-route-id="@enderecos.EnderecoID" method="post">
                            <button type="submit" class="btn btn-danger btn-sm-morada">Remover</button>
                        </form>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Você ainda não tem nenhuma morada criada.</p>
        }

        <a href="/Perfil/Moradas/CriarMorada" class="add-new">+ Criar nova morada</a>

        <div class="footer-m">
            <button onclick="location.href='/Perfil'">Voltar para a tua conta</button>
            <button onclick="location.href='/'">Voltar ao site</button>
        </div>
    </div>
</body>
